mixin cover(title, authors, date)
  .page.cover
    section
      if title
        h1.title= title
      p
        if authors.length < 2
          span.author= authors
        else
          .authors
            each author in authors
              span.author= author
        if date
          span.date: time= date
