mixin script
  script(src="./scripts/zinken.js")
  script.
    window.MathJax = {
      AuthorInit: function () {
        MathJax.Hub.Register.StartupHook("Begin",function () {
          MathJax.Hub.Queue(
            ["Typeset", MathJax.Hub],
            [rightAlign, tweakMathjax],
            [checkElements, newPage]
          )
        });
      }
    };
  script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML")
