doctype html
include ./_head
include ./_script
include ./_cover

html(lang="ja")
  +head("ZinkeNのつかいかた")

  body
    +cover("ZinkeNのつかいかた", "E14xx やましー", "2016年5月16日")

    .pages
      section
        h2 表紙
        p
          | jadeファイル内
          code body
          | タグの次に下のように書きます。
        figure
          figcaption.code 表紙の書きかた
          pre
            :code
              +cover("ZinkeNのつかいかた", "E14xx やましー", "2016年5月16日")

      section
        h2 見出しと本文
        p ↑は章を表します。
        p
          | 章は
          code h2
          | から始まります。
        section
          h3 節
          p これは節の中身です。
          section
            h4 小節
            p
              | 番号は自動的に振られます。CSS の counter 機能を使っています。margin や . の数など指定されている形式があれば、その都度書き換えてください。ひとまず小小節（
              code h5
              | ）までサポートしています。
          section
            h4.nonumber 参考文献
            p 例えば、参考文献は章番号を記述しません。
            p
              code .nonumber
              | クラスを当てることで章や節の番号を付けないようにできます。

      section
        h2 図表、ソースコード
        p
          | 図（
          code figure,img
          |）や表（
          code table
          | ）、ソースコード（
          code pre,code
          | ）に対応しています。

        section
          h3 図
          .col-2
            figure
              img(src="./images/yamasy.png")
              figcaption やましーのアイコン・カラー
            figure
              img(src="./images/yamasy-bw.png")
              figcaption やましーのアイコン・白黒

        section
          h3 表
          p
            | HTMLタグによって、またはクラスを当てることで
            code caption
            | の「図」「表」などを自動で決定します。
          table
            caption.table
              code caption
              | 対応表
            tr
              th: code figcaption, .figcaption, .fig
              td 図n : 
            tr
              th: code caption, .caption, .table
              td 表n : 
            tr
              th: code .code
              td ソースコードn : 
            tr
              th: code .list
              td リストn : 
          p
            code .nonumber
            | を当てることでキャプションの番号なしも指定できます。
          p また表中の文字列は基本的に中央揃えですが、数値は自動的に右揃えになります。個別に指定したい場合はHTMLに直接スタイルを書き込んでください（クラス指定で対処できるようにしたいと思っています）。
          table
            caption.nonumber
              | キャプションなし（
              code .nonumber
              | ）
            tr
              th \(N\)
              th random_case.c
              th descending_case.c
            tr
              td すごい文字列
              td 0.20
              td 0.19
            tr
              td 30000
              td 1.84
              td 1.79
            tr
              td 100000
              td 20.1
              td 19.87

        section
          h3 ソースコード
          p ソースコードも書けます。一行が長い場合の折り返しが上手く行かないかもしれません、がんばります。
          figure
            figcaption.list sieve.go
            pre
              include ./_sieve.go
          figure
            figcaption.code d_chain.d
            pre
              include ./_d_chain.d

      section
        h2 数式
        p 数式は MathJax を使って描画しています。
        p 特にインラインで高さが上手く合わなくて（ \(V_{2n}\)とか）、文字が多少上や下にはみ出たりします。職人の手によるあたたかみのある修正を行いますので、気になる方は職人になるかしばらくお待ちください。
        p $$\epsilon = \frac{V_{20}-V_{2n}}{V_{2n}}\times100$$

      section
        h2 段組み
        p
          code .col-x
          |  (\(1 \leq x \leq 5)\)
          | クラスを当てた要素の中に段組みしたい要素を入れます。
        .col-3
          p 『心』は大正三年四月から八月にわたつて東京大阪両朝日へ同時に掲載された小説である。
          p 当時の予告には数種の短篇を合してそれに『心』といふ標題を冠らせる積〔つもり〕だと読者に断わつたのであるが、其短篇の第一に当る『先生の遺書』を書き込んで行くうちに、予想通り早く片が付かない事を発見したので、とう／＼その一篇丈〔だけ〕を単行本に纏めて公けにする方針に模様がへをした。
          p 然し此『先生の遺書』も自から独立したやうな又関係の深いやうな三個の姉妹篇から組み立てられてゐる以上、私はそれを『先生と私』、『両親と私』、『先生と遺書』とに区別して、全体に『心』といふ見出しを付けても差支〔さしつかえ〕ないやうに思つたので、題は元の儘にして置いた。たゞ中味を上中下に仕切つた丈が、新聞に出た時との相違である。
          p 然し此『先生の遺書』も自から独立したやうな又関係の深いやうな三個の姉妹篇から組み立てられてゐる以上、私はそれを『先生と私』、『両親と私』、『先生と遺書』とに区別して、全体に『心』といふ見出しを付けても差支〔さしつかえ〕ないやうに思つたので、題は元の儘にして置いた。たゞ中味を上中下に仕切つた丈が、新聞に出た時との相違である。

      section
        h2 ページについて
        p
          code src/scss/_variables.scss
          | でページに関する変数（
          code $text-font-size, $page-size, $page-padding-top
          | など）を管理しています。
        p
          code .page-break
          | クラスを当てることで、そこを境に強制改ページされます。

    +script()
