*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  background-color: $white;
  color: $black;
  font-family: $primary-fonts;
  line-height: 1;
  position: relative;

  @media (max-width: 900px) {
    font-size: 14px;
  }
}

h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
h4 { @include h4; }
h5 { @include h5; }
h6 { @include h6; }

p { @include p; }
blockquote { @include blockquote; }
strong { @include strong; }
kbd,
code {
  @include kbd;
}
hr { @include hr; }
small { @include small; }
ul,
ol {
  @include list;
}
img { @include img; }

table { @include table; }

pre,
code {
  font-family: $code-font;
}
