figcaption,
.figcaption {
  line-height: 3;
  text-align: center;
  counter-increment: fig;

  &:before {
    content: "図 " counter(fig) " :";
    margin-right: 0.3em;
  }
}

caption,
.caption {
  line-height: 3;
  text-align: center;
  counter-increment: table;

  &:before {
    content: "表 " counter(table) " :";
    margin-right: 0.3em;
  }
}

.fig {
  counter-increment: fig;

  &:before {
    content: "図 " counter(fig) " :";
  }
}

.table {
  counter-increment: table;

  &:before {
    content: "表 " counter(table) " :";
    margin-right: 0.3em;
  }
}

.code {
  counter-increment: code;

  &:before {
    content: "ソースコード " counter(code) " :";
    margin-right: 0.3em;
  }
}

.list {
  counter-increment: list;

  &:before {
    content: "リスト " counter(list) " :";
    margin-right: 0.3em;
  }
}
