figcaption,
.figcaption,
caption,
.caption,
.fig,
.table,
.code,
.list {
  line-height: 3;
  text-align: center;

  &:before {
    content: "";
    margin-right: 0.3em;
  }
}

figcaption,
.figcaption {
  counter-increment: fig;

  &:before {
    content: "図 " counter(fig) " :";
  }
}

caption,
.caption {
  counter-increment: table;

  &:before {
    content: "表 " counter(table) " :";
  }
}

.fig {
  counter-increment: fig;

  &:before {
    content: "図 " counter(fig) " :";
  }
}

.table {
  counter-increment: table;

  &:before {
    content: "表 " counter(table) " :";
  }
}

.code {
  counter-increment: code;

  &:before {
    content: "ソースコード " counter(code) " :";
  }
}

.list {
  counter-increment: list;

  &:before {
    content: "リスト " counter(list) " :";
  }
}


/* nocaption */

.nocaption {
  counter-increment: none;

  &:before {
    content: "";
  }
}
