/* headings */

@mixin h1 {
  font-size: 32px;
  color: $black;
  margin: 24px 0 14px;
  line-height: 1.5;
}

@mixin h2 {
  font-size: 24px;
  color: $black;
  margin: 24px 0 14px;
  line-height: 1.5;
}

@mixin h3 {
  font-size: 18px;
  color: $black;
  margin: 24px 0 14px;
  line-height: 1.5;
}

@mixin h4 {
  font-size: 16px;
  color: $black;
  margin: 24px 0 14px;
  line-height: 1.5;
}

@mixin h5 {
  font-size: 13px;
  color: $black;
  margin: 24px 0 14px;
  line-height: 1.5;
}

@mixin h6 {
  font-size: 10px;
  color: $black;
  margin: 24px 0 14px;
  line-height: 1.5;
}


/* paragraph */

@mixin p {
  color: $black;
  line-height: $text-line-height;
  letter-spacing: $text-letter-spacing;
  margin: 0;
  text-indent: 1em;
}


/* blockquote */

@mixin blockquote {
  color: $gray;
  font-size: 80%;
  font-style: italic;
  border-left: 4px solid $light-gray;
  padding-left: 20px;
  line-height: $text-line-height;
  letter-spacing: $text-letter-spacing;
}


/* strong */

@mixin strong {
  font-weight: bold;
  margin: 0 0.1rem;
}


/* hr */

@mixin hr {
  border: 0;
  background-color: $light-gray;
  height: 2px;
}


/* small */

@mixin small {
  font-size: 12px;
  color: $black;
  line-height: $text-line-height;
  letter-spacing: $text-letter-spacing;
}


/* list */

@mixin list {
  padding-left: 40px;
  line-height: $text-line-height;
  letter-spacing: $text-letter-spacing;
}


/* image */

@mixin img {
  width: 100%;
  display: block;
  margin: 20px auto;
}


/* table */

@mixin table {
  color: $black;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: $text-line-height;
  margin: 20px auto;

  th,
  td {
    text-align: center;
    border: 1px solid $black;
    padding: 0.4em 1em;
  }

  th { text-align: center; }

  // TODO: captionの内容が表幅より多い場合に2段になるのをどうにか
}


/* pre */

@mixin code {
  font-family: $code-font;
  letter-spacing: $code-letter-spacing;
}

@mixin pre {
  border: 1px solid $black;
  padding: 1em;
  margin: 0 auto;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}


/* keyboard */

@mixin kbd {
  padding: 0.1rem 0.4rem;
  margin: 0 0.4rem;
  font-weight: bold;
}

/* figure */

@mixin figure {
  margin: 20px auto;
}
