$white: #fff;
$black: #333;
$gray: #666;
$light-gray: #ccc;

$primary-fonts: "ヒラギノ明朝 ProN W3", "游明朝", "Hiragino Mincho ProN", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$code-font: Ricty;

$text-font-size: 12pt;
$code-font-size: 12pt;

$text-line-height: 1.75;
$text-line-height-sm: 2.1;
$text-letter-spacing: 0;
$code-letter-spacing: 0.05em;

$page-size: A4;
$page-width: 210mm;
$page-height: 297mm;

$page-padding-top: 15mm;
$page-padding-bottom: 25mm;
$page-padding-left: 20mm;
$page-padding-right: $page-padding-left;
