$white: #fff;
$black: #333;
$gray: #666;
$light-gray: #ccc;
$yellow: #f6ca06;
$lol-pink: #ec80af;
$lol-orange: #f19018;
$lol-yellow: #f4ed61;
$lol-green: #87c256;
$lol-blue: #2eb5c8;
$official-twitter: #55acee;
$official-facebook: #455a9e;

$primary-fonts: "ヒラギノ明朝 ProN W3", "游明朝", "Hiragino Mincho ProN", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$code-font: Ricty;

$text-line-height: 1.75;
$text-line-height-sm: 2.1;
$text-letter-spacing: 0;
$code-letter-spacing: 0.05em;

$fade: 0.2s ease-out;
$movement: 0.8s ease-in-out;
$shadow: 0 1px 10px 0 rgba($black, .1);
$semitransparent: 0.92;

$nav-height: 60px;
